<!--
    Description: 主页
    Author: zhangbin
    Date: 2019-10-26
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head::head(~{::title},~{},~{})">
    <title>Home Page</title>
</head>
<body>
    <!-- 通用导航栏 -->
    <div th:replace="fragments/navigationBar::navigationBar"></div>
    <!-- 页面主体 -->
    <div class="container-fluid" style="margin-top:80px">
        <h1>Hello !</h1>
        <p>Welcome to <span th:text="${appName}">Our App</span></p>
        <h3>固定导航栏</h3>
        <p>导航栏可以固定在头部或者底部。</p>
        <h1>滚动页面查看效果。</h1>
    </div>
    <!-- 通用页脚 -->
    <div th:replace="fragments/footer::footer"></div>
</body>
</html>