<!--
    Description: 主页
    Author: zhangbin
    Date: 2019-10-24
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>YQYQ</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link rel="icon" href="/images/logo.jpg" />
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <!-- HEAD -->
        <div th:replace="fragments/header::header" th:width="100%"></div>
        <!-- BODY -->
        <div class="layui-body">
            <div class="layui-container"></div>
        </div>
        <!-- FOOT -->
        <div th:replace="fragments/footer::footer"></div>
    </div>
</body>
</html>