<!--
    Description: 课时信息页
    Author: zhangbin
    Date: 2019-10-24
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>课时信息</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link rel="icon" href="/images/logo.jpg" />
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <!-- HEAD -->
        <div th:replace="fragments/header::header"></div>

        <!-- BODY -->
        <div class="layui-body">

            <table id="lessonList" lay-filter="lessonTable"></table>
        </div>

        <!-- FOOT -->
        <div th:replace="fragments/footer::footer"></div>
    </div>
</body>
</html>